.location-list {
    border: 1px solid #CED4DA;
    width: 324px;
    height: 45px;
    color: #495057;
    opacity: 0.75;
}
.location-card {
    width: 350px;
    &:nth-child(3n) {
        margin-right: 0;
    }
    .location-img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 224px;
    }
    .img1 {
        background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/locate1.jpeg");
    }
    .img2 {
        background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/locate2.jpg");
    }
    .img3 {
        background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/locate3.jpg");
    }
    .img4 {
        background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/locate4.jpg");
    }
    .img5 {
        background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/locate5.jpg");
    }
    .icon {
        width: 21px;
        height: 21px;
    }
}

@media (max-width: 1200px) {
    .location-card {
        width: 290px;
    }
}

@media (max-width: 992px) {
    .location-list {
        width: 237px;
        height: 46px;
    }
    .location-card {
        width: 330px;
        &:nth-child(3n) {
            margin-right: 30px;
        }
        &:nth-child(2n) {
            margin-right: 0;
        }
        .location-img {
            height: 164px;
        }
    }
}

@media (max-width: 767px) {
    .location-list {
        height: 36px;
        flex-grow: 1;
    }
    .location-card {
        width: 100%;
        &:nth-child(1n) {
            margin-right: 0;
        }
    }
}